body{
font-family: 'Poppins', sans-serif;
}

.banner{
    background-image: url(img/pexels-ron-lach-10526880.jpg);
    padding: 250px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.skill-pad{
    padding: 160px 0;
}
.cwidth{
    width: 40px;
}
.bootw{
    width: 36px;
}
.jqw{
    width: 57px;
}
.jsw{
    width: 135px;
}
.csw{
    width: 66px;
}
.htw{
    width: 63px;
}
